/* -------------------------------------
Loader
------------------------------------- */
.loaderContainer{
    position: fixed;
    z-index: 11;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(68,102,126,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(68,102,126,0.25);
  }
  .loader {
    width: 56px;
     height: 56px;
     border-radius: 50%;
     padding: 1.1px;
     background: conic-gradient(#0000 10%,#ffffff) content-box;
     -webkit-mask: repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
          radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 9px));
     -webkit-mask-composite: destination-in;
     mask-composite: intersect;
     animation: spinner-d55elj 1s infinite steps(10);
  }
  
  @keyframes spinner-d55elj {
    to {
       transform: rotate(1turn);
    }
  }